.header  {
    display: inline;
    text-align: center;
    position: relative;
    font-family: Vollkorn;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 50px;
    position: relative;
    }
    
    
    .menu {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        align-content: center; 
        justify-content: center; 
        overflow: auto;
    }
    
    .auth {
        width: 20%;
        height: auto;
        padding: 20px;
        background-color: #F7F7F7;
        border: 1px solid #A3A3A3;
        border-radius: 30px;
        padding-top: 20px;
    }
    
    .menu__input {
        display: flex;
        flex-direction: column;
        margin: 20px;
        position: relative;
        width: auto;
        height: auto;
        text-decoration: none;
        margin-top: 30px;
    }
    
    .input__login {
        display: flex;
        justify-content: center;
        color: #E3E3E3;
        width: auto;
        height: auto;
        padding: 5px;
        border: 1px solid #A3A3A3;
        border-radius: 10px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 21px;
        
    }
    
    .input__password {
        display: flex;
        color: #E3E3E3;
        width: auto;
        height: auto;
        padding: 5px;
        border: 1px solid #A3A3A3;
        border-radius: 10px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 21px;
    }
    
    .menu__btn {
        display: flex;
        justify-content: center;
        position: relative;
        white-space: nowrap;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 21px;
    }
    
    .green__btn {
        position: relative;
        border: 1px solid #A3A3A3;
        background: #FFC837;
        border-radius: 10px;
        right: 0;
        width: auto; 
        height: auto;
        padding: 10px;
    }
    
    .blue__btn {
        position: relative;
        border: 1px solid #A3A3A3;
        background: #FFC837;
        border-radius: 10px;
        width: auto;
        height: auto;
        margin-left: 16px;
        left: 0;
        padding: 10px;
    }
    
    